@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background: url('https://images.unsplash.com/photo-1510004562889-0d4db4f3367a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }

  ul, nav {
    list-style: none;
    padding: 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
  }

  a:hover {
    opacity: 1;
  }

  h1 {
    font-size: 7rem;
    font-weight: 700;
    color: #fff;
    margin: 0 0 1.5rem;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px;
    margin-left: 20px;
  }

  header nav ul {
    display: flex;
    margin: 20px 100px;
  }

  header nav li {
    margin: 0 15px;
  }

  .btn {
    color: #fff;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    transition: all 0.2s;
  }

  .btn:hover {
    background: #d73851;
    border: 1px solid #d73851;
    color: #fff;
  }

  .cover  {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 76px 0px;
  }

  .flex-form input[type="submit"] {
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  .flex-form input[type="submit"]:hover {
    background: #d73851;
    border: 1px solid #d73851;
  }

  .flex-form {
    display: flex;
    position: relative;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  }

  .flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
  }

  input[type="search"] {
    flex-basis: 500px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  #footer ul {
    display: flex;
    flex-direction: row;
  }

  #footer li {
    margin: 2px;
  }

  .line {
    color: #fff;
  }

  .flex-form > * {
    font-size: 0.9rem;
  }

  /* botão explorar */

  .pagination {
    margin-top: 20px;
  }

  .page-link {
    color: #fff;
    padding: 5px 10px;
    border: 1px solid rgba(255,255,255,0.5);
    transition: all 0.2s;
    font-size: 0.9rem;
  }

  .page-link:hover {
    background: #d73851;
    border: 1px solid #d73851;
    color: #fff;
  }

 



  